@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


      * {
        margin: 0;
        padding: 0;
        font-family: "Libre Baskerville", serif;
        font-weight: 500;
        font-style: normal;
      }

      a {
        text-decoration: none;
        color: black;
      }

      .logo {
        width: 150px;
        margin-bottom: 10px;
      }

      .navbar {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        z-index: +1 !important;
      }

      .menu {
        display: flex;
        justify-content: center;
      }

      ul {
        list-style: none;
      }

      span {
        margin: 10px;
      }

      span:hover {
        opacity: 0.8;
      }

      .list img {
        width: 100%;
        border-radius: 1.5%;
      }

      .list div {
        margin-bottom: 2.5em;
      }